<!--*********************************************************************************************************-->
<!--************ CONTENT ************************************************************************************-->
<!--*********************************************************************************************************-->
<section class="content">
    <!--============ Featured Ads ===========================================================================-->
    <section class="block">
        <div class="container">
            <h2>{{bodyTitle}}</h2>
            <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
              <div class="item" *ngFor='let airport of searchService.airports'>
                <app-airport-item [airportItem]=airport ></app-airport-item>
              </div>

            </div>
        </div>
    </section>
    <!--============ End Featured Ads =======================================================================-->


</section>
<!--end content-->
