
    <div class="wrapper">
        <div class="image">
            <h3>
                <a class="tag category">{{airportItem.codeOaci}}</a>
              <!--  <a href="single-listing-1.html" class="title"></a> -->
              <!--  <span class="tag">Offer</span> -->
            </h3>
            <a  class="image-wrapper background-image" style="background-image: url('assets/img/aerodrome-pics/{{airportItem.codeOaci}}.jpeg')">

                <img src='assets/img/aerodrome-pics/{{airportItem.codeOaci}}.jpeg' alt="">
            </a>
        </div>
        <!--end image-->
        <h4 class="location">
            <a >{{airportItem.cleanLocation}}</a>
        </h4>
        <!-- <div class="price">$80</div> -->
  <!--      <div class="meta">
            <figure>
                <i class="fa fa-calendar-o"></i>02.05.2017
            </figure>
            <figure>
                <a href="#">
                    <i class="fa fa-user"></i>Jane Doe
                </a>
            </figure>
        </div> -->
        <!--end meta-->
    <!--    <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis lobortis</p>
        </div> -->
        <!--end description-->
        <a class="detail text-caps underline">Détail (bientôt disponible)</a>
    </div>

<!--end item-->
